body {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 2px solid black;
    background-color: #40abb6;
}


.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px;
    font-size: 44px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 0px;
    background-color: black;   
    color: white;
}

.calculator {
    margin-left: auto;
    margin-right: auto;
    width: 300px;  
}

button {
    margin-top: 5px;
    padding: 0;
    width: 55px;
    height: 55px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    }

.number {
    background-color: #2E2F38;
    margin: 2px;
    color: white;
}

.operator {
    background-color: #4B5EFC;
    margin: 2px;
    color: white;
}

#clear, #delete {
    background-color: black;
    margin: 2px;
    color: white;
}