body {
    margin-left: auto;
    margin-right: auto;
    height: 875px;
    width: 100%;
    max-width: 500px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

main {
    border: 2px solid black;
    border-radius: 7px;
    background-color: #40abb6;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    height: 250px;
    font-size: 44px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 0px;
    background-color: black;   
    color: white;
    box-sizing: border-box;
}

.calculator {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    margin-top: 5px;
    padding: 0;
    width: 90px;
    height: 90px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    }


.number {
    background-color: #2E2F38;
    margin: 2px;
    color: white;
}

.operator {
    background-color: #4B5EFC;
    margin: 2px;
    color: white;
}

#clear, #delete {
    background-color: black;
    margin: 2px;
    color: red;
}

button:hover {
    transform: scale(1.05);
}